@model Entity.Concrete.Blog


@{
    ViewBag.Title = "AddNewBlog";
    Layout = "~/Views/Shared/AuthorLayout.cshtml";
}


<script src="~/Themes/ckEditorText/ckeditor.js"></script>
<div class="col-12 grid-margin stretch-card" style="flex: auto;">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Creat New Blog</h4>
            <br />
            <form class="" method="post" enctype="multipart/form-data">


                @Html.Label("Blog Title")
                @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.BlogTitle, "", new { @class = "text-danger" })
                <br />
                @Html.Label("Blog Category")
                @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.values, new { @class = "form-control" })
                <br />
                @*@Html.Label("Image")
        @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control", @placeholder = "Give me Main image..." })*@
                <input type="file" name="BlogImage" value="" />
                <br />
                @Html.Label("Date")
                @Html.TextBoxFor(x => x.BlogDate, new { @class = "form-control", @placeholder = "Sample Date: 00.00.0000" })
                @Html.ValidationMessageFor(x => x.BlogDate, "", new { @class = "text-danger" })
                <br />
                @Html.Label("Blog Url For Seo")
                @Html.TextBoxFor(x => x.BlogUrl, new { @class = "form-control", @placeholder = "Example: what-is-the-software" })
                @Html.ValidationMessageFor(x => x.BlogUrl, "", new { @class = "text-danger" })
                <br />
                @Html.Label("Author")
                @Html.DropDownListFor(x => x.AuthorId, (List<SelectListItem>)ViewBag.values2, new { @class = "form-control" })
                <br />
                @Html.Label("Content")



                <div ass="col-md-10">


                    @Html.TextAreaFor(model => model.BlogContent, new { @id = "editor", @class = "form-control", @rows = "200" })
                    @Html.ValidationMessageFor(x => x.BlogContent, "", new { @class = "text-danger" })


                </div>
                <script>
                    CKEDITOR.replace('editor')

                </script>
                <br />
                <button class="btn btn-info">Save</button>
            </form>
            </div>
</div>
</div>