@model  IEnumerable<Entity.Concrete.Blog>

@{
    ViewBag.Title = "BlogList";
    Layout = "~/Views/Shared/AuthorLayout.cshtml";
}
@{
    string color = " ";
}
@{
    string caseName = "";
}
@{ 
    int puan = 1;

}

<br />

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">My Blogs</h4>
            <p class="card-description">

            </p>
            <div class="table-responsive pt-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:0%;">
                                ID
                            </th>
                            <th style="width:2%;">
                                Blog List
                            </th>
                            <th style="width:1%;">
                                Blog Rate
                            </th>

                            <th style="width:1%;">
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var value in Model)
                        {
                            puan = value.BlogRating * 10;
                            if (puan >= 85)
                            {
                                color = "post-category text-white bg-success mb-3";
                                caseName = "Very Good";
                            }
                            if (puan >= 70 && puan <= 84)
                            {
                                color = "post-category text-white bg-info mb-3";
                                caseName = "Good";
                            }
                            if (puan >= 50 && puan <= 69)
                            {
                                color = "post-category text-white bg-warning mb-3";
                                caseName = "Normal";
                            }
                            if (puan >= 0 && puan <= 49)
                            {
                                color = "post-category text-white bg-danger mb-3";
                                caseName = "Bad";
                            }

                            <tr>
                                <td>
                                    @value.BlogId
                                </td>
                                <td>
                                    @value.BlogTitle
                                </td>
                                
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="@value.BlogRating" aria-valuemin="0" aria-valuemax="100" style="width: @puan%"></div>
                                    </div>
                                    <br />
                                    Aldığı puan: @puan
                                </td>
                                <td>
                                    <span class="badge @color">@caseName</span>
                                </td>

                                <td style="width:2%;" class="project-actions text-left">
                                    @if (@value.BlogStatus == true)
                                    {
                                        <a class="btn btn-primary btn-sm" target="_blank" href="/article/@value.BlogUrl/@value.BlogId">

                                            <i class="fas fa-folder">

                                            </i>

                                            View

                                        </a>
                                    }


                                    <a class="btn btn-info btn-sm" href="/User/UpdateBlog/@value.BlogId">

                                        <i class="fas fa-pencil-alt">

                                        </i>

                                        Edit

                                    </a>

                                    @if (value.BlogStatus == true)
                                    {
                                        <a class="btn btn-danger btn-sm" href="/User/StatusChangeToFalse/@value.BlogId">

                                            <i class="fas fa-trash">

                                            </i>

                                            Remove

                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-success btn-sm" href="/User/StatusChangeToTrue/@value.BlogId">

                                            <i class="fas fa-trash">

                                            </i>

                                            Show

                                        </a>
                                    }



                                </td>

                            </tr>


                        }
                    </tbody>

                </table>

            </div>
            <br />
            <a href="/AddNewBlog/" class="btn btn-success">Create New Blog</a>
        </div>
    </div>
</div>

