@model  Entity.Concrete.Blog


@{
    ViewBag.Title = "UpdateBlog";
    Layout = "~/Views/Shared/AuthorLayout.cshtml";
}

<script src="~/Themes/ckeditor/ckEditor.js"></script>
<div class="col-12 grid-margin stretch-card" style="flex: auto;">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit Your Blog</h4>
            <br />
           
            <form class="form-control-sidebar " method="post" enctype="multipart/form-data">

                @Html.TextBoxFor(x => x.BlogId, new { @class = "form-control", type = "hidden" })
                <br />
                @Html.Label("Blog Title")
                @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.BlogTitle)
                <br />
                @Html.Label("Blog Category")
                @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.values, new { @class = "form-control" })
                <br />
                @*@Html.Label("Image")
        @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.BlogImage)*@
                <input type="file" name="BlogImage" value="" />
                <br />
                <br />
                <br />
                @Html.Label("Date")
                @Html.TextBoxFor(x => x.BlogDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.BlogDate)
                <br />
                @Html.Label("Author")
                @Html.DropDownListFor(x => x.AuthorId, (List<SelectListItem>)ViewBag.values2, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.AuthorId)
                <br />

                @Html.TextBoxFor(x => x.BlogRating, new { @class = "form-control", @type = "hidden" })
                <br />

                @Html.TextBoxFor(x => x.BlogStatus, new { @class = "form-control", @type = "hidden" })
                <br />
                @Html.Label("Content")
                <div ass="col-md-10">


                    @Html.TextAreaFor(x => x.BlogContent, new { @id = "ckeditor", @class = "form-group", @rows = "200" })
                    @Html.ValidationMessageFor(x => x.BlogContent)
                    <script>
                        ClassicEditor
                            .create(document.querySelector('#editor'), {
                                plugins: [Bold, Italic, Underline, Strikethrough, Code, Subscript, Superscript],
                                toolbar: {
                                    items: ['bold', 'italic', 'underline', 'strikethrough', 'code', 'subscript', 'superscript']
                                }
                            })
                    </script>

                </div>

                <br />
                <button class="btn btn-info">Save</button>
            </form>
        </div>
</div>
</div>