@model IEnumerable<Entity.Concrete.Comment>
@{
    var count = 0;
    foreach (var c in Model)
    {
        count++;
    }

    <!-- post comments -->
    <div class="section-row">
        <div class="section-title">
            <h3 class="title"> Total Reply - @count</h3>
        </div>
        @foreach (var value in Model)
        {
            <div class="section-title">
                <h3 class="title"> Reply </h3>
            </div>

            <div class="post-comments">
                <!-- comment -->
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="~/blogThema/img/avatar-2.jpg" alt="">
                    </div>
                    <div class="media-body">
                        <div class="media-heading">
                            <h4>@value.UserName</h4>
                            <span class="time">@(((DateTime)value.CommentDate).ToString("yyyy MMMM dd"))</span>
                        </div>
                        <p>@value.CommentText</p>

                    </div>
                </div>
            </div>
        }

    </div>
    <div style="border-top: 3px #e8eaed solid;"></div>

    <br />
    @Html.Action("ReplyComment", "Comment")
    <!-- /post comments -->
}