@model IEnumerable<Entity.Concrete.Comment>
@{
    var count = 0;

    foreach (var c in Model)
    {
        if (c.CommentStatus == true)
        {
            count++;
        }

    }

    <!-- post comments -->

    <div style="border-top: 3px #e8eaed solid;"></div>

    <br />

    <!-- /post comments -->
}
<!-- Comment List Start -->
<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">Total Comments - @count</h4>
    </div>
    @foreach (var value in Model)
    {
        if (value.CommentStatus == true)
        {

            <div class="bg-white border border-top-0 p-4">
                <div class="media">

                    <div class="media-body">
                        <h6><a class="text-secondary font-weight-bold" href="">@value.UserName</a> <small><i>@(((DateTime)value.CommentDate).ToString("yyyy MMMM dd"))</i></small></h6>
                        <p>
                            @value.CommentText
                        </p>

                    </div>
                </div>

            </div>


        }
    }
</div>
 @Html.Action("ReplyComment", "Comment")
