@model Entity.Concrete.Comment

<!-- Comment Form Start -->
<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">Leave a comment</h4>
    </div>
    <div class="bg-white border border-top-0 p-4">
        @using (Html.BeginForm("ReplyComment", "Comment", FormMethod.Post))
        {
            <input type="hidden" name="BlogId" value="@ViewBag.id" />
            <div class="form-row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelForModel("Name Surname *")
                        @Html.TextBoxFor(x => x.UserName, new { @PlaceHolder = "Name...", @class = "form-control", @type = "text" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelForModel("E-Mail *")
                        @Html.TextBoxFor(x => x.Mail, new { @PlaceHolder = "Mail...", @class = "form-control", @type = "email" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.Label("Message *")
                        @Html.TextAreaFor(x => x.CommentText, new { @PlaceHolder = "Message...", @class = "form-control " })
                    </div>
                    @Html.CheckBoxFor(x => x.CommentStatus, new { @class = "form-control ", @value = "True", @type = "hidden" })
                </div>


            </div>
            <br />
            <div class="col-sm-7">
                <div class="form-group">
                    @Html.Label("Did you like this article?")<br />
                    <label>@Html.RadioButton("BlogRating", 1) 1</label>
                    <label>@Html.RadioButton("BlogRating", 2) 2</label>
                    <label>@Html.RadioButton("BlogRating", 3) 3</label>
                    <label>@Html.RadioButton("BlogRating", 4) 4</label>
                    <label>@Html.RadioButton("BlogRating", 5) 5</label>
                    <label>@Html.RadioButton("BlogRating", 6) 6</label>
                    <label>@Html.RadioButton("BlogRating", 7) 7</label>
                    <label>@Html.RadioButton("BlogRating", 8) 8</label>
                    <label>@Html.RadioButton("BlogRating", 9) 9</label>
                    <label>@Html.RadioButton("BlogRating", 10) 10</label>

                </div>
            </div>

            <div class="form-group mb-0">
                <input type="submit" value="Leave a comment"
                       class="btn btn-primary font-weight-semi-bold py-2 px-3">
            </div>

        }

    </div>
</div>
<!-- Comment Form End -->
