@model  Entity.Concrete.Category 


@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>AddCategory</h2>

<form class="" method="post">



    @Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control", type = "hidden" })
    <br />
    @Html.Label("Category Name")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br />
    @Html.Label("Category Description")
    @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription)
    <br />

    <br />
    <button class="btn btn-info">Save</button>
</form>
