


@{
    ViewBag.Title = "BlogDetails";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="section">
    @Html.Action("BlogCover", "Blog")
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-8">
                        @Html.Action("BlogReadAll", "Blog")
                        @Html.Action("CommentList", "Comment")
                    </div>
                    <div class="col-md-4">
                       
                        @Html.Action("AuthorPopularPost", "Author")

                        @Html.Action("BlogDetailsCategoryList", "Category")
                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>


@Html.Action("Footer", "About")

