@model IEnumerable<Entity.Concrete.Blog>
<!-- News With Sidebar Start -->

<div class="container-fluid">
    <div class="container">
        <div class="row">

            <!-- News Detail Start -->
            <div class="position-relative mb-3">
                @foreach (var value in Model)
                {
                    
                    <div class="bg-white border border-top-0 p-4">
                        <div class="mb-3">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                               href="/Blog/BlogByCategory/@value.CategoryId">@value.Category.CategoryName</a>
                            <a class="text-body" >@(((DateTime)value.BlogDate).ToString("yyyy MMMM dd"))</a>
                        </div>
                        <h1 class="mb-3 text-uppercase ">@value.BlogTitle</h1>
                        <div style="font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif !important; line-height: 32px !important; letter-spacing: -0.003em; font-size: 20px !important; font-style: normal !important; color: rgb(41, 41, 41, 1) !important; ">
                            <p>
                                @Html.Raw(value.BlogContent)
                            </p>
                              
                         
                        </div>
                        
                    </div>
                    <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle mr-2" src="@value.Author.AuthorImage" width="25" height="25" alt="">
                            <span>Auhthor By - @value.Author.AuthorName </span>

                            <a class="nav-link text-body" target="_blank" href="@value.Author.AuthorTwitter"><small class="fab fa-twitter"></small></a>
                            <a class="nav-link text-body" target="_blank" href="@value.Author.AuthorInstagram"><small class="fab fa-instagram"></small></a>
                            <a class="nav-link text-body" target="_blank" href="@value.Author.AuthorLinkedin"><small class="fab fa-linkedin"></small></a>
                            
                        </div>
                       
                    </div>
                }
                <!-- News Detail End -->
            </div>



        </div>
        </div>
</div>