@model IEnumerable<Entity.Concrete.Blog>
@using TechnoBlogProject.Helper;
<meta name="title" content="@ViewBag.blogTitle">
<meta name="description" content="Software paradise with up-to-date software content. You can find what you are looking for about the software here.">
<meta name="keywords" content="software, .net, web development, cyber security , data structures, big data, data illustration, database management,  digital marketing, seo, java, html,css,c#">
<meta name="robots" content="index, follow">
<meta name="language" content="English">
<meta name="author" content="@ViewBag.authorName" />
<title>@ViewBag.blogTitle</title>
<div class="container-fluid">

    <div class="container">
        <div class="row">

            <!-- News Detail Start -->
            <div class="position-relative mb-3">
                @foreach (var value in Model)
                {

                    <div class="bg-white border border-top-0 p-4">
                        <div class="mb-3">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                               href="/@value.Category.CategoryName.ToSeoUrl()/@value.CategoryId">@value.Category.CategoryName</a>
                            <a class="text-body">@(((DateTime)value.BlogDate).ToString("yyyy MMMM dd"))</a>
                        </div>
                        <h1 class="mb-3 text-uppercase ">@value.BlogTitle</h1>
                        <div style="font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif !important; line-height: 32px !important; letter-spacing: -0.003em; font-size: 20px !important; font-style: normal !important; color: rgb(41, 41, 41, 1) !important; ">
                            
                                @Html.Raw(value.BlogContent)
                            


                        </div>

                    </div>
                    <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle mr-2" src="@value.Author.AuthorImage" width="25" height="25" alt="">
                            <span>Auhthor By - @value.Author.AuthorName </span>


                        </div>

                    </div>
                }
                <!-- News Detail End -->
            </div>



        </div>
        <div style="border-top: 3px #e8eaed solid;"></div>

        <br />

    </div>
</div>

<div class="col-lg-8">


    @Html.Action("CommentList", "Comment")

</div>

<div class="col-4">
    @Html.Action("AuthorPopularPost", "Author")
</div>


