@model IEnumerable<Entity.Concrete.Author>
<div class="site-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-5 text-center">
                <h2>Meet The Team</h2>
                <p>Some of our writers who produce active content...</p>
            </div>
        </div>
        <div class="row">
            @foreach (var value in Model)
            {


                <div class="col-md-6 col-lg-4 mb-5 text-center">
                    <img src="@value.AuthorImage" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
                    <h2 class="mb-3 h5">@value.AuthorName</h2>
                    <p>@value.AuthorDetail</p>

                    <p class="mt-5">
                        <a href="@value.AuthorLinkedin" target="_blank" class="p-3"><span class="icon-linkedin"></span></a>
                        <a href="@value.AuthorInstagram" target="_blank" class="p-3"><span class="icon-instagram"></span></a>
                        <a href="@value.AuthorTwitter" target="_blank" class="p-3"><span class="icon-twitter"></span></a>
                    </p>
                </div>
            }
        </div>

    </div>
</div>
