@model  IEnumerable<Entity.Concrete.Author>

@{
    ViewBag.Title = "AuthorList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>AuthorList</h2>

<br />



<!DOCTYPE html>

<html>

<body class="hold-transition sidebar-mini">

    <!-- Site wrapper -->

    <div class="wrapper">

        <!-- Navbar -->
        <!-- Main content -->

        <section class="content">

            <!-- Default box -->

            <div class="card card-solid">


                <div class="card-body pb-0">


                    <div class="row d-flex align-items-stretch">
                        @foreach (var value in Model)
                        {
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">

                                <div class="card bg-light">

                                    <div class="card-header text-muted border-bottom-0">

                                        Author

                                    </div>

                                    <div class="card-body pt-0">

                                        <div class="row">

                                            <div class="col-7">

                                                <h2 class="lead"><b>@value.AuthorName</b></h2>

                                                <p class="text-muted text-sm"><b>About: </b>@value.AuthorShortAbout </p>

                                                <ul class="ml-4 mb-0 fa-ul text-muted">

                                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> @value.AuthorMail</li>


                                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone :+90 - @value.AuthorPhone</li>

                                                </ul>

                                            </div>

                                            <div class="col-5 text-center">

                                                <img src="@value.AuthorImage" alt="" class="img-circle img-fluid">

                                            </div>

                                        </div>

                                    </div>

                                    <div class="card-footer">

                                        <div class="text-right">

                                            <a href="/Blog/AuthorBlogList/@value.AuthorId" class="btn btn-sm bg-teal">

                                                <i class="fas fa-comments"></i>Authors Blog

                                            </a>

                                            <a href="/Author/AuthorEdit/@value.AuthorId" class="btn btn-sm btn-primary">

                                                <i class="fas fa-user"></i> Edit Profile

                                            </a>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        }
                    </div>

                </div>

            </div>

            <!-- /.card -->

        </section>

        <!-- /.content -->

    </div>

    <!-- /.control-sidebar -->

</body>

</html>
<a href="/Author/AddAuthor/" class="btn btn-primary">Add New Author</a>